apipkg==1.4
attrs==17.3.0
decorator==4.1.2
docopt==0.6.2
execnet==1.5.0
expects==0.8.0
Faker==0.8.7
glob2==0.6
iperf3==0.1.7
-e git+git@github.com:necromuralist/iperfidy.git@15038bf597bd001def3567cce8c4d6f0f7941b88#egg=iperfidy
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
Mako==1.0.7
MarkupSafe==1.0
parse==1.8.2
parse-type==0.4.2
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptpython==0.41
ptyprocess==0.5.2
py==1.10.0
Pygments==2.2.0
pytest==3.3.0
pytest-bdd==2.19.0
pytest-faker==2.0.0
pytest-forked==0.2
pytest-xdist==1.20.1
python-dateutil==2.6.1
simplegeneric==0.8.1
six==1.11.0
text-unidecode==1.1
traitlets==4.3.2
voluptuous==0.10.5
wcwidth==0.1.7
